{% extends 'base.html' %} {% block title %}搜索结果{% endblock %} {% block
content %}
<div class="container">
  <h1>搜索结果</h1>
  <div id="search-results">
    {% if results %}
    <ul class="list-group">
      {% for result in results %}
      <li class="list-group-item">
        <h5>{{ result.title }}</h5>
        <p>{{ result.snippet }}</p>
        <a href="{{ result.url }}" target="_blank">查看详情</a>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>没有找到相关结果。</p>
    {% endif %}
  </div>
</div>
{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='js/search.js') }}"></script>
{% endblock %}
